nav{
    display: flex;
    justify-content: end;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.30);
    width: 100vw;
}

.links{
    display: flex;
    width: 40%;
    height: 3rem;
    align-items: center;
    justify-content: space-around;

}

.link{
    list-style: none;
    
}

.links a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
}

