.tittlePage{
  height: calc(100vh - 3rem);
  font-family:'Nickainley';
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1{
  color: var(--pink);
  animation: neonGlow 10s infinite alternate;
  animation: neon 0.85s ease-in-out infinite alternate;
  font-size: 4.5rem;
  margin-left: 2.5rem;
  max-width: 50%;
}

@keyframes neon {
  from {
    text-shadow:
    0 0 6px rgba(247, 118, 142, 0.92),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgba(255, 0, 0, 0.52),
    0 0 21px rgba(247, 118, 142, 0.92),
    0 0 34px rgba(247, 118, 142, 0.92),
    0 0 54px rgba(247, 118, 142, 0.92);
  }
  to {
    text-shadow:
    0 0 6px rgba(247, 118, 142,0.98),
    0 0 30px rgba(202,228,225,0.42),
    0 0 12px rgba(255, 0, 0,0.58),
    0 0 22px rgba(247, 118, 142,0.84),
    0 0 38px rgba(247, 118, 142,0.88),
    0 0 60px rgba(247, 118, 142,1);
  }
}
